/* GlobalSettings */
#Body{ background-image:url('Images/Body-BG.jpg');background-color:#FFFFFF; } 

#Body,table{ font-size:13px;color:#674e2e; } 

#ES_Table{ background:#F1EEDB; } 

.heading{ color:#17ADA4;font-size:20px; } 

.subheading{ color:#000000;font-size:15px; } 

.separator2{ border-top-color:#999999;border-bottom-color:#999999; } 

hr{ background:#990000; } 

input[type="button"],input[type="submit"],.btnSmall, #btnContinue, .Add, .EditModeCheckOutLink, .EditModeApplyVoucher, #OrderDateTime #Continue input, #btnAddAddress,#btnSaveCustomer, #btnEditAddress, #btnCancelEditAddress, #btnCancelAddAddress,#dialog #NotificationButton input, #dialog #ErrorMessageRedirectButton input,.EditModetblBasket  .EditModeApplyOrderName,.EditModetblBasket #EditModebtnApplyVoucherOrder,.tblBasket  .ApplyOrderName,.tblBasket #btnApplyVoucherOrder,.productConfiguratorContent .skipNext, .currentMenuBody .productFooterContainer .cancelButtonContainer input,.productFooterContainer .addButtonContainer input, #PaymentWithCardButton input, #PaymentWithCashButton input, .BacktoOrderLink ,.editor-label-options input,.forgotPassword .editor-commands input, #basketContainer #EditModeRedirectToGroupOrderEventPage, #EventButtons .editor-commands input,#CreateNewGuest .editor-commands input,.productConfiguratorContent .skipNext{ color:#FFFFFF;font-size:13px;background-color:#0000ff; } 

input[type="text"], .editor-field, input[type="password"]{ color:#674e2e;font-size:13px; } 

a:link, a:visited, a:active{ color:#17ADA4; } 

.error, .required, .editor-required span, #idVoucherError{ color:#990000; } 

/* MyCentralBanner */
/* MyCentralNavigation */
.TopBar{ background:#FFFFFF; } 

.NavigationContainer #header .navLink{ color:#17ADA4;font-size:12px; } 

/* MyCentralFooter */
#Footer{ background:#FFFFFF;border-top-color:#000000; } 

/* StoreLocator */
/* MyCentralStoreSearch */
#VerticalOrderOption .editor-commands input,#HorizontalOrderOption .editor-commands input,#HorizontalCollection .editor-commands input{ background:#0000ff; } 

#ResourceImage{ background:url('Images/storeSearch.png'); } 

#StoreLocator-Right{ background:url('Images/StoreLocator_RightImage.png'); } 

/* StoreDetail */
/* MyCentralStoreDetails */
#StoreDetails #SelectLocation{ color:#674E2E;font-size:25px; } 

#StoreDetails .SelectStore input{ color:#ffffff; } 

#OrderDateTime #Continue input{ background:#17ADA4; } 

/* MyCentralOrderDateTime */
.StoreDetailOrderDateTime #pickUpASAP span,.StoreDetailOrderDateTime #pickUpLater span{ color:#000000;font-size:13px; } 

.StoreDetailOrderDateTime #OrderDateTime #pickupdatetime #pickUpDate span,.StoreDetailOrderDateTime #OrderDateTime #pickupdatetime #pickUpTime span{ color:#000000;font-size:13px; } 

.StoreDetailOrderDateTime .OrderDateTimeTitle{ color:#674E2E;font-size:13px; } 

/* OrderMenu */
/* MyCentralOrderMenuCategories */
 .menucontainercontaine .storeheading, .menuheading{ color:#17ADA4;font-size:15px; } 

#menucontainer ul.topnav li span a{ color:#31746D;font-size:14px; } 

#menucontainer ul.topnav li span a:hover, #menucontainer ul.topnav li span a.active{ color:#ffffff;background:#31746D; } 

/* MyCentralOrderMenuProducts */
.ModMyCentralOrderMenuProductsC #ItemContent{ border-left-color:#7e2525;border-right-color:#416242; } 

.currentMenuBody .productWrapper{ border-top-color:#000000; } 

.ModMyCentralOrderMenuProductsC #ItemContent .menucontent_heading{ color:#17ADA4;font-size:15px; } 

.productAtrribute .productTitle{ color:#674E2E;font-size:15px; } 

.currentMenuBody .productWrapper .addAnother{ color:#17ADA4; } 

.productConfiguratorContent .productSubContent .productConfiguratorRemove{ color:#17ADA4; } 

.productAtrribute .addtoCart .toggleShow{ color:#58390f; } 

.productAtrribute .addtoCart .toggleHide{ color:#58390f; } 

/* MyCentralOrderMenuProductsContainerModel */
.ModMyCentralProductConfiguratorsC #ItemContent{ border-left-color:#ffffff;border-right-color:#416242; } 

.CMproductAtrribute .addtoCart .toggleHide{ color:#0000FF; } 

.ModMyCentralProductConfiguratorsC #ItemContent .menucontent_heading{ color:#990000;font-size:24px; } 

.CMproductAtrribute .productTitle{ color:#990000;font-size:15px; } 

.sbutton{  } 

.hbutton{  } 

/* MyCentralProductConfigurators */
.ModMyCentralOrderMenuProductsC #ItemContent{ border-left-color:#7e2525;border-right-color:#416242; } 

.currentMenuBody .productWrapper{ border-top-color:#000000; } 

.ModMyCentralOrderMenuProductsC #ItemContent .menucontent_heading{ color:#17ADA4;font-size:15px; } 

.productAtrribute .productTitle{ color:#674E2E;font-size:15px; } 

.currentMenuBody .productWrapper .addAnother{ color:#17ADA4; } 

.productConfiguratorContent .productSubContent .productConfiguratorRemove{ color:#17ADA4; } 

.productAtrribute .addtoCart .toggleShow{ color:#17ADA4; } 

.productAtrribute .addtoCart .toggleHide{ color:#17ADA4; } 

/* MyCentralProgressBar */
.progressBar{ border-top-color:#674e2e;border-bottom-color:#674e2e; } 

.progressBar input{ color:#000000; } 

.progressBar input.currentprogressLink{ color:#ffffff; } 

/* MyCentralStoreInformation */
#StoreInfo .storeheading{ color:#674E2E;font-size:15px; } 

#StoreInformation #changeLocation a:link, #StoreInformation #changeLocation a:visited, #StoreInformation #changeLocation a:active,#StoreInformation #direction a:link, #StoreInformation #direction a:visited, #StoreInformation #direction a:active{ color:#17ADA4;font-size:13px; } 

#StoreInformation label{ color:#000000; } 

/* MyCentralOrderDateTime */
#OrderPageOrderDateTime #pickupdatetime #pickUpDate,#OrderPageOrderDateTime #pickupdatetime #pickUpTime{ color:#000000;font-size:13px; } 

#OrderPageOrderDateTime, #OrderTime #lblOrderDateTime{ background:#d2dbc0; } 

/* MyCentralBasket */
#EditModesubbasketContainer .EditModemenuheading,#EditModesubbasketContainer .EditModebasketContent,#EditModesubbasketContainer .EditModeBasketMainItem,#EditModesubbasketContainer .EditModeBasketMainItem,#EditModesubbasketContainer .Total,#EditModesubbasketContainer .EditModebasketfont{ color:#000;font-size:15px; } 

#EditModeBasketCheckout .EditModecheckOutLink, .EditModetblBasket .EditModeApplyVoucher, .EditModetblBasket .EditModeApplyFavorite, .EditModetblBasket .EditModeApplyOrderName, .EditModetblBasket #EditModebtnApplyVoucherOrder{ background-color:#17ADA4; } 

#EditModesubbasketContainer .EditModebasketContent .EditModetblBasket { background:#D2DBC0; } 

#basketContainer .itemEditLinks span a{ color:#0000FF; } 

/* FavoritesAndPastOrders */
/* MyCentralFavoritesAndPastOrders */
#FavAndPastOrdrs .FavoritesPastOrdersTitle{ color:#000000;font-size:15px; } 

