*html .LeftPane { 
   width:expression( document.body.clientWidth < 170 ? "0px" : "0px" ); 
}

*html .ContentPane { 
   width:expression( document.body.clientWidth > 500 ? "500px" : "500px" ); 
}

*html .ContentPane { 
   width:expression( document.body.clientWidth < 400 ? "400px" : "400px" ); 
}

*html .RightPane { 
   width:expression( document.body.clientWidth < 200 ? "380px" : "380px" ); 
}

*html #basketContainer{ 
   height:expression( document.body.clientWidth < 200 ? "200px" : "200px" ); /* set min-height for IE */
}

*html #EditModebasketContent{ 
   height:expression( document.body.clientWidth < 200 ? "200px" : "200px" ); /* set Item Content min-height for IE */
}

*html .ContentPane #ItemContent{ 
   height:expression( document.body.clientWidth < 200 ? "500px" : "500px" ); /* set Item Content min-height for IE */
}
*html #dialog
{
     height:expression( document.body.clientWidth < 100 ? "150px" : "150px" ); /* set Item Content min-height for IE */
}

.c_footer
{display:none;}


h1{ font-family:Helvetica, Arial; font-size:26px; }
h2{ font-family:Helvetica, Arial; font-size:22px; }
h3{ font-family:Helvetica, Arial; font-size:18px; }
hr{background:#666666;}

/* To remove Title Bar from Modules */
.c_DNN6_SubTitle .Title .TitleBar { height: 0px; }
#dnn_ctr526_ContentPane { height: 100%; }
.c_DNN6_SubTitle .Title{ display:none; }
.c_DNN6_SubTitle .Head{ display:none; }
.DNNModuleContent{ padding-bottom:0px; }
.DNNModuleContent tr td a{ font-size:13px;padding-right:0px;}
/*DNN Login Centered*/
.dnnLogin{margin-left:180px;}    

/*Global Setting*/

#Body{ height:100%; text-align:center; margin:0 auto; font-family:Helvetica, Arial; }
#Body,table { }
.heading {margin-bottom:10px;text-align:left;font-weight:normal; font-size:24px;color: #666666;}
.subheading{margin-bottom:10px;text-align:left;font-weight:bold; }

.separator{ height:1px;border-top:1px dotted; margin:10px 0;}

.separator2{  height:3px;margin-bottom:15px;clear:both; overflow:hidden; border-style:solid;border-width:1px;border-left-color:transparent; border-right-color:transparent;margin-top:10px; }
#menucontainer hr{ height:1px;border:none;margin:0px; text-align:left;position:absolute;top:inherit;left:inherit;width:190px; }
#store hr{ height:1px;border:none;margin:0px; text-align:left;position:absolute;top:inherit;left:inherit;width:100%;}
#CMProductList hr,#ProductList hr{ height:1px;border:none;margin:10px 0 0; text-align:left;clear:both;}
#MyProfileCustomerCardsTable {    padding-bottom: 10px;}

input[type="button"],input[type="submit"],
.btnSmall, #btnContinue, .Add, .EditModeCheckOutLink, .EditModeApplyVoucher, #OrderDateTime #Continue input,
#btnAddAddress,#btnSaveCustomer, #btnEditAddress, #btnCancelEditAddress, #btnCancelAddAddress,
#dialog #NotificationButton input, #dialog #ErrorMessageRedirectButton input,
.EditModetblBasket  .EditModeApplyOrderName,.EditModetblBasket #EditModebtnApplyVoucherOrder,
.tblBasket  .ApplyOrderName,.tblBasket #btnApplyVoucherOrder,
.productConfiguratorContent .skipNext, .currentMenuBody .productFooterContainer .cancelButtonContainer input,
.productFooterContainer .addButtonContainer input,
#PaymentWithCardButton input, #PaymentWithCashButton input, .BacktoOrderLink ,.editor-label-options input ,
 .forgotPassword .editor-commands input   /*forgot Password Buttons */
 { height:32px;background-color:#0000ff; color:#fff;border:none; }                   /* Button text for IE*/
 #dialog #ErrorMessageRedirectButton #btnReloadRequestUnsuccessful{ margin-top:40px;}

.editor-field input[type="text"], .editor-field input[type="password"]{width:155px;}
.editor-field select{width:161px;}
a:link, a:visited, a:active{}
.error, .required, .editor-required span, #idVoucherError{ color:#990000;}

.TopBar {background:#666666;}
#Footer{border-top: 2px solid;}
.NavigationContainer .navLink { background:none;}
.editor-field #ExpiryMonth, .editor-field #ExpiryYear { width: 78px; }



ul li{ list-style:none; }
.spacer10 {height:10px; }
.spacer5{ height:5px; background: none repeat scroll 0 0 #FFFFFF;}
.spacer8{height:8px;}
.clear{ clear:both; }
.taC { text-align:center; }
.vaT{ vertical-align:top; }
.taR{ text-align:right; }
.taL{ text-align:left; }
.loader { background: url("Images/loadingAnimation.gif") no-repeat scroll 0 0 transparent; height: 31px; width: 31px;  margin: 0 auto;}
.error {   display: block; }
/*#basketItemLoaderContainer .loader { margin-left:350px;position:relative;bottom:100px; }*/




select {height:32px;padding:6px;
        line-height:28px /* Needed for Safari */
        }
select option {height:32px;position:relative;top:8px;}
input[type=text],input[type=password], .editor-field #HorizontalCollectionCity,
.editor-field #HorizontalCollectionZipCode
{height:26px;}



/*select option{height:25px;padding-top:7px;}*/

#header .navLink, .Footer_Pad {font-size:11px;}

#productErrorNote {padding-right:10px;}

/*Gradient Effect*/
.top_gradient{ clear:both; background: url("Images/topGradient.png") ; height: 50px;background-repeat:repeat-x; }
.bottom_gradient{ clear:both; background: url("Images/bottomGradient.png"); height: 45px; background-repeat:repeat-x; }

/*Dialog Boxes*/
#Notification { top: 0; height: 200px; left: 250px; padding: 1px 15px; min-width: 100px; z-index: 1002; text-align: center; display: none;
				-webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; }
#NotificationModalDialog  { background: #F1EEDB; display: table; }
	#NotificationModalDialog #dialog { display: table-cell; vertical-align: middle; text-align: center; width:500px; height:200px; *height:100%; *padding: 20px 50px 30px 10px;}
		#NotificationModalDialog #dialog #NotificationMessage { padding: 10px;}
		#NotificationModalDialog #dialog #NotificationButton input, 
		#NotificationModalDialog #dialog #ErrorMessageRedirectButton input
		{ border:0; position:absolute; right:0;top:0;height:32px; padding:7px 25px 10px;min-width:110px;font-size:13px; }
		#NotificationModalDialog #dialog #NotificationButton {margin-top:10px;}
        #NotificationModalDialog #dialog #NotificationButton input[value=X]{min-width:32px;padding:0}
		#NotificationModalDialog #dialog #NotificationRedirectShowButton input { border:0; right:0;top:0;height:32px; width:50px; font-size:13px; margin-top:20px; }

/*Panel Body Center, LeftPane, ContentPane , RightPane, BottomPane, Footer, Header Pane -- inner id and classes*/
.Logo_Pad { position:absolute; left:5%; top:-40px; z-index:1000; }
.Footer_Pad{ height:45px; margin-left: 40px;line-height:30px;}
#FooterCopyright #spanFooterCopyrightText {    float: left;    margin-top: 10px; }
.FooterPrivacy {    float: left;    margin-left: 20px;    margin-top: 10px;   }
.FooterContactUs {    float: left;    margin-right: 0;    margin-top: 10px;    padding-left: 20px;    text-align: left;}
.FooterLogo{ text-align:left; right:0; position:absolute; }

/* Navigation */
.NavigationContainer{ position:absolute;right:0px; z-index:10; }
.NavigationContainer .header input{ cursor:pointer; }
.NavigationContainer .navLink{ border:0; float:left; margin-right:3px; z-index:10; height:32px; }

/* Banner Images */
.BannerContainer{ height:100%; }
#LogoImage{ background:url("Images/Logo.png") no-repeat; height:220px; width:220px; }
/* Banner Animation */
#AnimationContainer{ height:400px; width:1280px; margin: 0 auto; overflow:hidden; }		
/* Banner Fixed */
#FixedContainer{ height:200px; width:1280px; margin: 0 auto; overflow:hidden; }


/* Store Search Module in StoreLocator Page */
.DnnModule-MyCentralStoreSearch{ width:1280px; }
#StoreLocatorContainer{margin:0 80px; clear:both; text-align:left;overflow:hidden;}
/*#storeSearchContainer{width:580px; float:left; }*/
#StoreLocator-Right{  background-repeat:no-repeat; float:left;height:144px; width:478px;margin-left:30px; }
#StoreSearchContainerFields {    clear: both;    float: left;    width: 580px;}
#VerticalDeliveryOptionContainer {float:left;height:250px;}
#VerticalCollectionOptionContainer {float:left;}
		  #VerticalOrderLikeMsg {font-size:15px; }
		  #VerticalCollectionState{}
		  #VerticalCollectionZipCode { }
		  #VerticalCollectionCity { }
		  #VerticalOrderCollection{width:120px;float:left;}
		  #VerticalDeliveryOptionContent{}
		  #VerticalDeliveryOptionContent .editor-field input{ float:left; }
		   .VerticalOrderTypeMsg{ font-size: 0px;margin-bottom:20px; color:#F1EEDB;  background: url("Images/storeSearch.png") no-repeat scroll 0 0 transparent; border: 0 none; height: 23px; width:386px; }
 #storeSearchContainer #VerticalOrderOption, #storeSearchContainer #VerticalCollection{ clear:both; }
						 #VerticalOrderOption .editor-row, #VerticalCollection .editor-row{ float:left; text-align:left; width:100%; }
						 #VerticalOrderOption .editor-row-or, #VerticalCollection .editor-row-or{ float:left; }
						 #VerticalOrderOption .editor-label, #VerticalCollection .editor-label{ float:left; width:150px;  }
						 #VerticalOrderOption .editor-field, #VerticalCollection .editor-field{ float:left; width:200px; margin: 5px 0;  }
						 #VerticalOrderOption .editor-commands, #VerticalCollection .editor-commands{clear:both; float:left;margin-top:20px;}
						 #VerticalOrderOption .editor-commands input, #VerticalCollection .editor-commands input{ border:0;  padding:7px 25px 10px;min-width:110px;  }

#StoreSearchLoader{ width:700px; float:right;}

/* Store Search Module in Store Detail Page */
/* Horizontal StoreSearch LayOut*/
.HorizontalOrderTypeMsg{ font-size:24px;margin-bottom:20px; border: 0 none; height: 23px; width:386px; margin-top:5px;}
	    #HorizontalCollection {margin-top:45px;}
        #HorizontalCollection .editor-label{ float:left; width: 35px;margin:0 0 0 10px;padding-top:5px;}
        #HorizontalCollection .editor-field { float:left;}
		#HorizontalCollection .editor-field input, #HorizontalCollection .editor-field label{ float:left; width:110px; margin:0 10px 0 0; }
		#HorizontalCollection .editor-field select { float:left; width:160px; margin:0 10px 0 0;}
		#HorizontalCollection .editor-field  #HorizontalCollectionZipCode{ width:80px;}
		#HorizontalCollection .editor-commands input{  border:0;  min-width:110px;width:100px; }
		#HorizontalCollection .error{ clear:left;float:left;}

		
		/* #HorizontalCollection .editor-label, #HorizontalCollection .editor-field {padding-top:5px;}*/

/* Store Detail Module */
.DnnModule-MyCentralStoreDetails{ margin-left:80px; }
#StoreDetails{width:540px;}
#StoreDetails #SelectLocation{text-align:left;margin-bottom:15px;}
	#store{float:left;width:100%;overflow:hidden;font-size:14px; }
    #store #storedetailContent{margin-top:10px;position:relative;}
		#StoreDetailsPin{width:30px;height:45px;margin-right:10px;float:left;clear:left;}
		#StoreDetails .StoreAddress{width:375px;text-align:left;padding-left:40px;}
		#StoreDetails .OpnHourLink{text-align:left;margin-left:40px;} 
		#StoreDetails .OpnHourLink a:link, a:visited, a:active {} 
		#StoreDetails .SelectStore{width:110px;position:absolute;top:0;right:0; }
		#StoreDetails .SelectStore input { border:0; position:absolute;right:0;top:0;height:32px; width:150px;font-size:13px;}
#StoreDetails .StoreOpeningHours{clear:both;float:left;width:100%;margin-left:40px;padding-bottom:10px;}
#StoreDetails .StoreOpeningHours tr td{font-size:13px;text-align:left;}
#StoreDetails .StoreOpeningHours tr th{ font-weight:bold;font-size:15px;text-align:left;}

#StoreDetails .loader {width:400px;float:right; }

/*Google Map */
#Map-Container{margin-right:90px;}
.storedetail_map_canvas {float:left;border: 1px solid #FFF0F0;height:450px; width:450px; margin:0 15px 15px 10px; vertical-align:top;}

/*Order Date-Time Module*/
 #OrderDateTime{clear:both;float:left;width:100%; margin-left:30px;text-align:left;font-size:13px;}
				#OrderDateTime #pickUpASAP{float:left; width:180px;}
				#OrderDateTime #pickUpLater{float:left;width:150px;text-align:left; }
				#OrderDateTime #pickUpASAP span{font-weight:bold;}
				#OrderDateTime #pickUpLater span{font-weight:bold;}
				#OrderDateTime #pickupdatetime{clear:both; text-align:left;}
				#OrderDateTime #pickupdatetime #pickUpDate{ float:left; width:100px;}
				#OrderDateTime #pickupdatetime #pickUpTime{float:left; width:100px;}
				#OrderDateTime #Continue{clear:both;float:left;}
				#OrderDateTime #Continue input{margin-top:10px;clear:both;border:0; height:32px; padding:7px 25px 10px;min-width:110px; }
				
				/* OrderTime Label in CheckOut,Confirmation*/
				#OrderTime #lblDisplayPickUp{font-weight:bold;}
				#OrderTime #lblOrderDateTime{padding:15px 10px;margin-top:10px;font-weight:bold; background:#F1EEDB; }


/* Store Detail Override Order Date-Time*/
 .StoreDetailOrderDateTime {clear:both;float:left;width:100%; margin-left:30px;padding:10px;  text-align:left;font-size:13px;}
 .StoreDetailOrderDateTime .OrderDateTimeTitle{font-weight:bold;}
                .StoreDetailOrderDateTime #OrderDateTime{margin:0px;}
				.StoreDetailOrderDateTime #pickUpASAP{float:left; width:180px;display:none;}
				.StoreDetailOrderDateTime #pickUpASAP input{padding-bottom:30px;}
				.StoreDetailOrderDateTime #pickUpLater{float:left;width:300px;text-align:left;display:none; }
				.StoreDetailOrderDateTime #pickUpASAP span,.StoreDetailOrderDateTime #pickUpLater span{font-weight:bold;}
				.StoreDetailOrderDateTime #OrderDateTime #pickupdatetime{clear:both;  text-align:left;margin:10px 0;}
				.StoreDetailOrderDateTime #OrderDateTime #lblNowTimeValue{margin:10px 0;display:none;}
				.StoreDetailOrderDateTime #pickupdatetime #pickUpDate{ float:left; width:100px;}
				.StoreDetailOrderDateTime #pickupdatetime #pickUpTime{float:left; width:100px;}
				.StoreDetailOrderDateTime #Continue{clear:both;float:left;}
				.StoreDetailOrderDateTime #Continue input{margin-top:10px;clear:both; border:0; height:32px; padding:7px 25px 10px;min-width:110px; }
				.StoreDetailOrderDateTime #OrderDateTime #pickupdatetime #pickUpTime { 	margin-left: 10px; }


/* Login */
 .login{width:100%; text-align:left;overflow:hidden;}
 .login .heading{}
	.login .editor-row{margin-bottom:10px;clear:both;overflow:hidden;}
	.login .editor-label{clear:both;float:left; text-align:left; width:148px;}
	.login .editor-field {float:left;margin-right:5px; }
	.login .editor-commands{clear:both;margin-left:150px;margin-top:10px;margin-bottom:10px;text-align:left;}
	.login .editor-commands input{border:0; height:32px; width:110px;  }
	.login .MainContent { float:left; left:0; }
	.login .PromotionImageCotainer { float:right; right:0;  display: none;}
    .login .login-label {    position: relative;    top: 8px;}
	 .login .password-label   { position: relative;    top: 10px;}
	 .login .forgot-password {    margin-left: 12px;    margin-top: 8px;}
	 .login .login-register,.login .login-account {    margin-left: 150px;}
	 #Login-Description #loginDescription {    float: left;    padding-top: 20px;    }
	 
	 /*Login Overide for this template*/
.login{margin-left:130px;width:1000px;}
	.login .MainContent {width:500px;}
    .login .editor-field a{}
 
    
/* Forgot Password*/
.forgotPassword{width:100%; margin-left:130px;}
    .forgotPassword .MainContent{width:550px;}
	.forgotPassword .header{font-size:15px;margin-bottom:10px;font-weight:bold;}
	.forgotPassword .editor-row{padding:5 5;clear:both;overflow:hidden;}
	.forgotPassword .editor-label {clear:both;width:130px;float:left;}
	.forgotPassword .editor-field{float:left;width:130px;}
	.forgotPassword .editor-commands{clear:both;margin:10px 5px;}
	.forgotPassword .editor-commands input {  border:0; height:32px; padding:7px 25px 10px;min-width:110px; }

/*Register Page */
.register{width:100%;text-align:left;}
    .register .heading{}
	.register .header{font-size:15px;margin-bottom:10px;font-weight:bold;}
	.register .editor-row{margin-bottom:10px;clear:both;overflow:hidden;}
	.register .editor-label{clear:both;float:left;width:170px;}
	.register .editor-field {float:left;width:350px;}
	.register .editor-commands{clear:both;padding:5px;}
	.register .editor-commands input{border:0; height:32px; width:110px;}
	.register .editor-commands #btnCancel{border:0; height:32px; width:110px;}
	.register .MainContent { float:left; left:0; }
	.register .PromotionImageCotainer { float:right; right:0; }
	
	
/*Register Page Override for Template */
.register{width:1000px;margin-left:130px;}
        .register .MainContent{width:550px;}
	
/* Order Page */

/*Menu Categories  */
.menucontainercontainer{margin-left:70px; float:left;width:190px;}  
.menucontainercontaine .storeheading, .menuheading{padding:10px 0; text-align:center;font-weight:bold;  }   
.menucontainercontainer .menuheading { bottom: 5px;       float: left;    font-size: 15px;    left: 75px;    position: absolute;  text-transform: uppercase;}        
		#menucontainer ul { vertical-align:bottom; }          
		#menucontainer ul.topnav {}
		#menucontainer ul.topnav li{list-style:none;display:inline-block;width:100%;height:auto;}
		#menucontainer ul.topnav li span{display:block;margin:5px;}
		#menucontainer ul.topnav li span a{  font-weight:bold;padding:10px;display:block; color:#0000ff;}
		#menucontainer ul.topnav li span a:hover,#menucontainer ul.topnav li span a.active  { text-decoration:none; background:#0000ff;color:#fff; }		
		
#menucontainer ul.topnav li.menuLeft {  border-right-color:#cc1100; border-right-width: 0px;}
#menucontainer ul.topnav li.menuRight{ border-right-color:#cc1100;border-right-width: 0px;}

.menuTextFormat
{
    font-family: 'Franklin Gothic Medium Cond', Tahoma, Verdana, Arial;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}
.menuItemSpan{height: 25px;
	color: #8C0B05;
	font-size: 14px;
	padding: 5px 2px 10px 2px;
	display: block;
	color: #fff;
	text-decoration: none;
	float: left; /*min-width:85px;*/
	width: 129px;
	text-align: left;
	font-weight: bold;
	}
.menuSubItemSpan{
	font-size: 12px;
	padding: 5px 2px 10px 12px;
	display: block;	
	text-decoration: none;
	float: left; /*min-width:85px;*/
	width: 129px;
}
#menucontainer ul.subNav li span a.subactive
{
	background: #E36F1E;	
	font-weight:bold;
	color:#fff;
}

.mainLi{border-bottom: 1px solid #9F998B;}
		#menucontainer ul.subNav li span a
		{
			color: #666458;
			padding: 5px 2px 5px 2px;
			text-align: left;
			font-weight:bold;
			font-size:12px;
			
		}
		#menucontainer ul.subNav li span a.subactive
		{
			color: #8C0B05;	
		}

		.prdDescription{width:380px;}
		#menucontainer ul.topnav li 
		{
			list-style-type:none;
			float: left;
			position: relative; 	
			margin-right:1px;
			float:left;
			display: inline-block;
			width:auto;
		} 		
/*MenuProducts*/
#ItemContent{ float:left;width:610px;padding:10px;min-height:500px;border-width:1px; border-style:solid ;border-top-color:transparent;border-bottom-color:transparent;  }  
		#menuContent{}
			#menuContent .menucontent_heading{float:left; font-weight:normal; font-size:20px;margin:10px 0;clear:both; }
			#menuContent .menucontent_subheading{}
			#menuContent #ProductList{clear:both;}     
			#menuContent #ProductList .relatedBox{padding:5px 0;display:none;}     
			#menuContent #ProductList .relatedBox a {padding-left:20px;text-decoration:underline;}     
						 #ProductList .productData,#ProductList .currentProductData {width:100%; padding:10px 0;overflow:hidden; text-align:left;}  
						 #ProductList .currentproductData .topBorder{padding-top:10px;margin-top:10px;border-top:dashed 1px #ccc;}  
						 #ProductList .currentproductData .topBorder .pTitle{padding-bottom:5px;}  
									  .productData .tProductDetail,.currentproductData .currentTProductDetail{ padding:5px 0;text-align:left;}
									  .productData .list_items, .currentProductData .list_items { overflow:hidden;}
									  .productData .list_items .ProductImageContainer,.productData .list_items .ProductImageContainer .ProductSmallImage,
									  .currentproductData .list_items .ProductImageContainer .ProductSmallImage, .currentproductData .list_items .ProductImageContainer{height:100px; width:140px;float:left;overflow:hidden; }

									  .productData .list_items .productAtrribute, .currentproductData .list_items .productAtrribute{ width:75%;float:right;}
													    	   .productAtrribute .productTitle{ text-decoration:none; width:260px;float:left;font-size:14px;}
															   .productAtrribute .productPrice{float:right; font-weight:bold;font-size:15px;}
															   .productAtrribute .productDescription, .productWrapper .Head   .productConfiguratorTitle{ overflow:hidden; padding-top:5px; clear:both; min-height:15px}
															   .productWrapper .Head   .productConfiguratorTitle{font-style:italic;}
															   .productAtrribute .addtoCart{float:right;text-align:right;}
															  .productAtrribute .addtoCart .toggleShow{font-size:11px;padding-bottom:3px;background:url("images/showButton.png") right center no-repeat;border:0; height:15px; color: #17ADA4;padding-right:17px; }
															  .productAtrribute .addtoCart .toggleHide{font-size:11px;padding-bottom:3px;background:url("images/hideButton.png") right center no-repeat;border:0; height:15px; color: #17ADA4;padding-right:17px; }
															  .productAtrribute .addtoCart .Add{  border:0; height:32px; width:80px;text-align:center;}  
														
										
									  .currentProductData  .currentMenuBody{float:left;text-align:left; padding-left:10px;width:100%; }
									  .currentProductData  .currentMenuBody .head {font-size:13px;font-weight:bold;}
									  /*.currentProductData  .currentMenuBody table {width:100%;}*/
									  .currentProductData  .currentMenuBody table td .skipNext{float:right;margin-right:10px;}
														   .currentMenuBody .productTopBorder{}
														   .currentMenuBody .productWrapper{width:100%;border-top:1px dotted #000; padding:10px 0;overflow:hidden;text-align:left;}
														   .currentMenuBody .productWrapper .addAnother{font-size:11px;text-decoration:none;}
														   .currentMenuBody .productWrapper .addAnother:hover{text-decoration:underline;}
																			.productWrapper .head{}
																			.productWrapper .productConfiguratorContent div.pb5{clear:both;}
																							.productConfiguratorContent .productConfiguratorTitle{}
																							.productConfiguratorContent .productConfigurationDescription{}
																							.productConfiguratorContent .productSubContent{ float:left;}
																							.productConfiguratorContent .productSubContent select { margin-bottom:5px;}
																							.productConfiguratorContent .productSubContent .productConfiguratorRemove{margin-left:10px;font-size:11px;text-decoration:none; color: #0000FF;}
																							.productConfiguratorContent .productSubContent .productConfiguratorRemove:hover{text-decoration:underline;}
																                            				.productConfiguratorContent table {margin-top:10px;height:32px;}
																							.productConfiguratorContent table td {text-align:left;}
																                            				.productConfiguratorContent table td.pB5 {text-align:left;}


																                            				.productConfiguratorContent .pB5 table {width:100%;clear:both;}
																                            				.productConfiguratorContent .pB5 table td input.skipNext{float:right; margin-top: 15px;}
																							.productConfiguratorContent .skipNext, .currentMenuBody .productFooterContainer .cancelButtonContainer input{  border:0; height:32px; width:110px;text-align:center;float:left; }  
															.currentMenuBody .OrderButton  input{ border:0; height:32px;width:80px;text-align:center;float:right; } 
															.currentMenuBody .productFooterContainer{height:30px;} 
															.currentMenuBody .productFooterContainer .cancelButtonContainer {text-align:left;float:left;margin-right:10px;min-width:110px;}
															.currentMenuBody .productFooterContainer .cancelButtonContainer input {width:110px;}
															.currentMenuBody .productFooterContainer .addButtonContainer{text-align:left;float:left;min-width:110px; }
																			 .productFooterContainer .addButtonContainer input{ border:0; height:32px;width:110px;}
																			 
																			 
																			 
								   .productWrapper .productConfiguratorContent .special-instructions{    margin-left: 210px; cursor: pointer;    position: relative;    top: 31px;width:1000px; color:#0000FF;}
								   :root .productWrapper .productConfiguratorContent .special-instructions { width:1000px \0/IE9;top:22px \0/IE9; }  /* IE9 */
								   .productWrapper .productConfiguratorContent .special-instructions1{    margin-left: 210px; cursor: pointer;    position: relative;    top: 31px;width:1000px; color:#0000FF;}
								   :root .productWrapper .productConfiguratorContent .special-instructions1 { width:1000px \0/IE9;top:28px \0/IE9; }  /* IE9 */
								   :root .CMproductData .btn-close { position:relative \0/IE9; top:12px \0/IE9;  margin-left: 20px;}
								   
								   .productWrapper .productConfiguratorContent .specialAddImage{cursor:pointer;}
                                   .productWrapper .productConfiguratorContent .specialAddImage:hover {    text-decoration: none;color:#000000;}                              

                                   .productWrapper .productConfiguratorContent span.specialAddImage {  background: url("images/add.gif") no-repeat scroll 0 0 transparent; padding-left: 30px; margin-left:15px;   }
                                   .productWrapper .productConfiguratorContent span.specialRemoveImage { background: url("images/remove.gif") no-repeat scroll 0 0 transparent; padding-left: 30px;margin-left:15px;   }
								   #CMProductList .SpecialInstructionContainerDiv {    display: none; }
								   #CMProductList .SpecialIns { background-color:#ffffff; }
								   #ProductList .SpecialInstructionContainerDiv {    display: none; }
								   #ProductList .SpecialIns { background-color:#ffffff; }
								   .currentproductData  .btn-close { background: url("images/BTN_close.gif") no-repeat scroll 0 0 transparent;     position: relative;    top: 5px;}
									.currentproductData .btn-close {  margin-bottom:30px\9\0;position:relative\9\0;}
									.currentproductData .btn-close-name {    padding-left:20px; font-size: 12px; cursor: pointer;}
									:root .currentproductData .btn-close { position:relative \0/IE9; top:12px \0/IE9;  margin-left: 20px;}
									 .currentproductData .row-actions {    bottom: 7px;    left: 20px;    position: relative;}
								    .special-inst-remove {    margin-bottom: 65px;    position: relative;    right: 180px;width:100%;width: 1000px\9\0\;}
									.CMproductData .row-actions {    bottom: 7px;    left: 20px;    position: relative;}
									.SplIns { margin: 30px 30px 20px 0; }
									.SpecialIns { margin-bottom: 20px;    padding-left: 20px;    padding-top: 10px;}
									.CMproductData .btn-close { background: url("images/BTN_close.gif") no-repeat scroll 0 0 transparent;     position: relative;    top: 5px;}
									.CMproductData .btn-close {  margin-bottom:30px\9\0;position:relative\9\0;}
									.CMproductData .btn-close-name {    padding-left:20px; font-size: 12px; cursor: pointer;}
									.special-instructions-name {    position: relative;    top: 10px;}
									.tblBasket .marginZero div {    font-style: italic;}
									
/*RightPane in OrderPage include ProgressBar, StoreInformation, Basket*/
.RightPane .DnnModule-MyCentralProgressBar, .RightPane .DnnModule-MyCentralStoreInformation,.RightPane .DnnModule-MyCentralBasket,.RightPane .DnnModule-MyCentralOrderDateTime {clear:both;width:300px;overflow:visible;background:#fff;float:left;}

/*ProgressBar */
.ModMyCentralProgressBarC{ height:auto;}
.progressBar{width:280px;overflow:hidden;margin:10px;border-width:1px;border-top-style:solid;border-bottom-style:solid;  }
.oldactiveprogressLink, .progressLink, .currentprogressLink  { width:90px;border:0;height:30px;padding:0;} 
.progressBar input{margin:4px 0; float:left;  }
.progressBar input.currentprogressLink{ background:url("images/progressOrder.png")  no-repeat;}
.oldactiveprogressLink, .progressLink{ background:none; }

.progressBar .progressLink{background: transparent; color:#000;}
.progressBar .oldactiveprogressLink{background: transparent; color:#000;}


/*StoreInformation*/
.DnnModule-MyCentralStoreInformation{ height:auto;}
#StoreInfo{width:100%; height:auto; padding:10px;Overflow:hidden;}
   #StoreInfo .storeheading{font-weight:bold;}
#StoreInformation{}
   
	#StoreInformation #changeLocation{ float:left;  width:120px;}
	#StoreInformation #direction{float:left; width:105px;margin-right:10px;}
	#StoreInformation #changeLocation a:link, #StoreInformation #changeLocation a:visited, #StoreInformation #changeLocation a:active,
	#StoreInformation #direction a:link, #StoreInformation #direction a:visited, #StoreInformation #direction a:active {color:#0000ff; }
	
/*OrderPage OrderTime */  
#OrderPageOrderDateTime{margin-left:0px; clear:both;float:left;width:280px;text-align:center;margin-left:10px; padding:10px 0;margin-bottom:10px;}
.OrderPageOrderDateTimeTitle{display:none;}
#OrderPageOrderDateTime #pickUpASAP{clear:both;}
#OrderPageOrderDateTime #pickUpLater{clear:both;}
#OrderPageOrderDateTime #pickUpASAP span{font-weight:bold;}
#OrderPageOrderDateTime #pickUpLater span{font-weight:bold;}
#OrderPageOrderDateTime #pickupdatetime{margin-left:10px;}
#OrderPageOrderDateTime #pickupdatetime #pickUpDate{float:left; width:125px;text-align:left;}
                         #pickupdatetime  select{margin-top:8px;}
#OrderPageOrderDateTime #pickupdatetime #pickUpDate span{}
			#DisplayOrderDateTime {padding:10px;}

#OrderPageOrderDateTime #pickupdatetime #pickUpDate select{ width:125px;}
#OrderPageOrderDateTime #pickupdatetime #pickUpTime{float:left; width:115px;margin-left:10px;text-align:left;}
#OrderPageOrderDateTime #pickupdatetime #pickUpTime select{ width:115px;}
#OrderPageOrderDateTime #Continue{clear:both;float:left;}
#OrderPageOrderDateTime #Continue input{margin-top:10px;clear:both; border:0; height:32px; padding:7px 25px 10px;min-width:110px; }

 

/*Basket*/
.DnnModule-MyCentralBasket{width:100%;}

#EditModesubbasketContainer{ margin:7 0 0 0; float:left;width:100%;overflow:hidden;}
#EditModesubbasketContainer .fixed th{padding-bottom:5px;}
#EditModesubbasketContainer .EditModemenuheading{text-align:left;padding-left:10px;width:100%; color:#674E2E; font-weight:bold;}   
#EditModesubbasketContainer .EditModebasketContent{margin:10px; background:#FFFFFF; width:100%; min-height:200px;} 
#EditModesubbasketContainer .EditModebasketContent .EditModetblBasket { width:280px;background:#F1EEDB;}                                                   /* overall basket Item colors*/
                                     .EditModetblBasket .spacer8, #EditModesubbasketContainer .BasketBackground{ background:#FFFFFF;}
									 .EditModetblBasket .EditModebasketHeading{ }
									 .EditModetblBasket .EditModeBasketMainItem{ font-size:13px;padding:0 0 0 10px;display:block;font-weight:bold;}
									 .EditModetblBasket .EditModebasketfont {font-size:13px;}
									 .EditModetblBasket  span{font-size:13px;  }
									 .EditModetblBasket .transparent{background:#fff;}
									 .EditModetblBasket tr td a{font-size:11px;text-decoration:none;}                                                     /*Detail, Modify and Remove in basket*/
									 .EditModetblBasket tr td, .EditModetblBasket tr th {padding:5px 10px 5px 0;}
									 .EditModetblBasket tr th {background-color:#fff;}
									 /*.EditModetblBasket tr td:first-child, .EditModetblBasket tr th:first-child {padding:0 0 0 10px;} */
									 .EditModetblBasket tr td a:hover{text-decoration:underline;} 
 									 .EditModetblBasket .condimentDiv{padding-left:10px; }
									 .EditModetblBasket .marginZero{ font-size:13px; }
									 .EditModetblBasket .marginZero div { font-style:italic; }
									 .EditModetblBasket  .EditModeApplyVoucher, .EditModetblBasket  .EditModeApplyFavorite,
									 .EditModetblBasket  .EditModeApplyOrderName,.EditModetblBasket #EditModebtnApplyVoucherOrder{border:0; height:32px; padding:7px 25px 10px;min-width:110px; }
									 .EditModetblBasket .EditModeUpdateQTY{display:none;}
									 .EditModetblBasket #EditModetxtVoucher{ margin-bottom:5px; }
									 .EditModetblBasket .EditModeOrderTotal{font-size:16px; background:#fff;color:#fff;}
									 .EditModetblBasket #EditModeTotal{padding-left:10px;}
						   #EditModeBasketCheckout{float:right;margin-right:1px;}
						   #EditModeBasketCheckout .EditModebasketCheckOut {text-align:right;}
						   #EditModeBasketCheckout .EditModeCheckOutLink{ border:0; height:32px; min-width:110px;width:110px;margin-right:6px; }
						   
						   #basketContainer .CartBottom{background:url("Images/cartBottom.png") repeat-x; border:0px;width:300px;height:12px; clear:both;}
							
							.tblBasket .condimentDiv{float:left;}
							.basketContent .basketItemPrice {     margin-left: 15px;    position: relative;    top: 10px;}
							.EditModebasketContent .EditModetblBasket .basketItemPrice {    left: 10px;    position: relative;    top: 10px;}


/*CheckOut Page*/

/*Basket Module*/
#subbasketContainer { clear:left; height:auto;width:700px;margin-left:90px; }
#basketContent { width:100%;font-size:13px;}
#basketContent .editor-field { width:170px; }
#basketContent .editor-field { width:170px; }                                                 /* overall basket Item colors*/
		   #subbasketContainer .menuheading,#Payment .menuheading,#CustomerInfoDiv .menuheading {text-align:left;}
		   #subbasketContainer .basketContent .tblBasket { width:100%;font-size:13px;text-align:left; } 
		                       .tblBasket  .basketHeading{ font-style:italic;}
							   .tblBasket .BasketMainItem{ font-size:15px;font-weight:bold;float:left;}
							   .tblBasket tr td a{}                                             /*Detail, Modify and Remove in basket*/
							   .tblBasket .marginZero{text-align:left;}
							   .tblBasket  .ApplyVoucher, .tblBasket  .ApplyFavorite,
							   .tblBasket  .ApplyOrderName,.tblBasket #btnApplyVoucherOrder{ border:0; padding:7px 25px 10px;min-width:110px;}
							   .tblBasket .UpdateQTY{display:none;}
							   .RightPane #basketContainer .tblBasket #txtVoucher{float:right;}
							   .tblBasket .OrderTotal{font-size:13px;}
							   .tblBasket .qty span {display:inline-block;padding-right:15px;}
							   .tblBasket .qty span.qtyBox {width:50px;}
							   .tblBasket .qty span a {padding-right:0;}
                               .tblBasket .qty span.rightBorder {border-right:solid 1px #000;padding-right:15px;margin-right:15px;}
							   .basketContent .tblBasket tr td{}
							   
 #basketContainer  #BacktoOrder {margin-left:90px;margin-top:10px;text-align:left;}
 #basketContainer .itemEditLinks {clear:both;float:left;}
 #basketContainer .itemEditLinks span a{padding-right:10px;}
 .RightPane #basketContainer .itemEditLinks {clear:both;padding:10px 0 0 10px;}
 .RightPane #basketContainer .qty .qtyLinksRight {position:relative;height:50px;}
 .RightPane #basketContainer .editOrderButtons {text-align:right;padding:10px 0 0 0}
 .RightPane #basketContainer label#enterPromoCode {display:none;}
 .RightPane #basketContainer #EditModebtnApplyVoucherOrder {width:120px;}
 #BasketCheckout{text-align:left;}


 /*Basket Moduel Override for the Template*/
 #subbasketContainer .menuheading{ font-weight:bold;}
 #basketContent {background:#FFFFFF;padding:10px;margin:10px 0;}
		   #subbasketContainer .basketContent .tblBasket { }
  
 /*Payment Module*/
#Payment .editor-row { padding:5px 10px 5px 0px; clear:both;overflow:hidden; }                                
#Payment .editor-label { float:left; width:190px; clear:both;text-align:left; }
#Payment .editor-field { float:left; width:170px;text-align:left; }
#Payment .editor-month { float:left; width:170px; }
#Payment .editor-row .editor-required .required{width:20px;float:left;height:20px;text-align:left;}
#Payment .editor-row .editor-required span{float:left;width:150px; }

#CustomerInfoDiv .editor-row { padding:5px 10px 5px 0px; clear:both;overflow:hidden; }                                
#CustomerInfoDiv .editor-label { float:left; width:190px; clear:both;text-align:left; }
#CustomerInfoDiv .editor-field { float:left; width:170px;text-align:left; }
#CustomerInfoDiv .editor-month { float:left; width:170px; }
#CustomerInfoDiv .editor-row .editor-required .required{width:20px;float:left;height:20px;text-align:left;}
#CustomerInfoDiv .editor-row .editor-required span{float:left;width:150px; }
							   
#PaymentDiv,#CustomerInfoDiv { clear:left; height:auto;  width:700px;margin-left:90px;margin-top:10px; }
		#Payment {width:100%; }
		#Payment #PaymentOptions { overflow:hidden; margin-bottom:10px; }
		#Payment #PaymentWithCard {}
				 #PaymentWithCard #CardOptions,#PaymentWithCard #BillingAddress { overflow:hidden; }
								  #PaymentWithCard #BillingAddress #BillingInfoTitle, #PaymentWithCard #CardOptions #cardInfoHeading {height:35px; font-weight:bold; clear:both; background:none;text-align:left; }
		#Payment .PlaceOrderButton{ margin:10px 0 0 190px;text-align:left;clear:both;float:left;}
#PaymentWithCardButton input, #PaymentWithCashButton input, .BacktoOrderLink {  border:0;min-width:110px; width:120px;  }
.ApplyVoucher, .ApplyFavorite, .ApplyOrderName  {  border:0;  padding:7px 25px 10px;min-width:110px;  width:120px; }
.ApplyVoucher  {vertical-align:top; }
#Payment .specialinstruction {float:left; margin-top:10px;}
#PaymentWithCard #Card .security-code {    width: 110px;}
#PaymentWithCard #Card .security-code input {    width: 100px;}


/* Profile Page Navigation*/
#ProfileNavigation{ width:600px; margin-left:90px; }
        #ProfileNavBar {overflow:hidden;padding:0 10px ; margin-bottom:15px;}
        #ProfileNavBar a{}
        #ProfilePageLink a:link, #FavoritesPageLink a:link, #PastOrdersPageLink a:link,#OrderPageLink a:link,#EventsPageLink a:link  {width:auto;margin-left:0px;float:left;font-size:14px;font-weight:bold;padding:0 10px;border-left:solid 1px #000; }
        #ProfilePageLink a:link {border:none}
        
/* Profile Page */       
        #MyProfile .editor-row{clear:both;height:30px; padding-bottom:10px;}
        #MyProfile .editor-label{float:left;width:110px;padding-top:7px;}
        #MyProfile .editor-field {float:left;width:200px;}
        #MyProfile .editor-commands input{width:110px;}
		
        #MyProfile .editor-commands .AddAddress{ float:left;width:110px; margin-right:10px;}
        #MyProfile .editor-commands .CancelAddress{ float:left;width:110px;}
        
        #MyProfile{width:700px;text-align:left;clear:both;margin-left:90px;}
        #MyProfile #CustomerInformation{}
        		   #CustomerInformation #CustomerDetails{  }
				   #CustomerInformation #CustomerDetails .editor-row{ margin-bottom:10px; }
				   #CustomerInformation #CustomerDetails .editor-commands input {  width:110px;}
        
        #MyProfile #CustomerAddress{clear:both; padding-top:25px; *padding-top:0px;}
        		   #CustomerAddress #AddressContainer{  font-weight:bold;}
        		   
        		#AddressContainer .editor-label{ clear:both; float:left; padding:2px; }
        		#AddressContainer .editor-row{ overflow:hidden; text-align:left; height: 85px; }
        		#AddressContainer .editor-edit a {padding-right:10px;}
        #MyProfile #CustomerCards{clear:both;padding-top:20px;}
        #btnAddAddress,#btnSaveCustomer, #btnEditAddress, #btnCancelEditAddress, #btnCancelAddAddress {  border:0; width:110px;position:relative;}
        
        #MyProfileCustomerCardsTable th{ text-align:left;}
		
		.custInfoHead {display:none;}
		#MyProfile #CustomerInformation #CustomerDetails #btnSaveCustomer {    margin-left: 110px;}
		#MyProfile #CustomerInformation #CustomerDetails #Title {    width: 100px;}


/* PastOrders and Favorites */
#FavAndPastOrdrs { width:700px; text-align:left;overflow:hidden; min-height: 80px;margin-left:80px;}
.ModMyCentralFavoritesAndPastOrdersC #FavAndPastOrdrs { width:auto;}
            #PastOrdersDetail, #FavoritesDetail {overflow:hidden;  }
            #FavAndPastOrdrs .FavoritesPastOrdersTitle { clear: both;  height:20px; width:100%;margin-bottom:10px;  }
#MyPastOrders .editor-row, #MyFavorites .editor-row, #PastOrdersDetail .editor-row, #FavoritesDetail .editor-row {  clear:both; height:40px; }
.editor-label-name-Green { float:left; width:180px; }
#MyPastOrders .editor-row a{}

	.editor-label-name { float:left; width:180px;}
	.editor-label-date { float:left; width:150px; }
	.editor-label-details { float:left; width:150px; }
	.editor-label-options { float:left; }
.editor-label-options input {  border:0;  padding:7px 25px 10px;min-width:110px; }


/*Confirmation */
#MainDiv{width:750px;margin-left:80px;text-align:left;}
		#MainDiv .ConfirmaNotify { width:550px; background:#none; margin-bottom: 15px; }
		#MainDiv #Confirmation {overflow:hidden;width:350px; float:left;}
.ContentPane #Map-Container {margin-left: 365px; margin-right:10px;clear:left;}
.ContentPane .storedetail_map_canvas { width:450px;     margin-top: -50px; }

/*Past Orders and Favorites*/
.editor-label-details .toggleAdd{background:url("images/showButton.png") no-repeat;border:0; height:15px; width:86px; }
.editor-label-details .toggleDelete{background:url("images/hideButton.png") no-repeat;border:0; height:15px; width:86px; }
.PastOrderIndex{overflow:hidden;padding:10px 0;}

/*Past Orders and Favorites Override*/
.MyFavoritesAndPastOrdersDIVs{ padding-left:10px;}


/*Container Configurator*/
/*Show/Hide Option for Non-Mandatory Items*/
.topBorder { margin-top: 3px;  padding: 10px; }
.toggleButton {padding-bottom: 10px;float:right;width:15px;  }
.toggleBtn {float: right;}
.toggleCondimentHide {display: none; margin: 20px;}
.sbutton {    background: url("images/add.gif") no-repeat scroll 0 0 transparent;    height: 15px;       right: 90px;    width: 15px;}
.hbutton {    background: url("images/remove.gif") no-repeat scroll 0 0 transparent;    height: 15px;      right: 90px;    width: 15px;}
.showtext{display:none;}
.pTitle {    float: left;    width: 380px;}


/*InActive button for Container Configurator*/
.buttonLargeInActive{    opacity:0.5;filter: alpha(opacity = 50);}
#menuContent #CMProductList{clear:both;}     
#menuContent #CMProductList .relatedBox{padding:5px 0;display:none;}   
#CMProductList .CMproductData,#CMProductList .currentProductData {width:100%; padding:10px 0;overflow:hidden; text-align:left;}  
#ProductList .currentproductData{width:100%; padding:10px 0;overflow:hidden; text-align:left;}  
/* .CMproductData .list_items .CMproductAtrribute, #CMProductList .currentproductData .list_items .CMproductAtrribute{ width:75%;} */

 #CMProductList .CMproductData,#CMProductList .currentProductData {width:100%; padding:10px 0;overflow:hidden; text-align:left;}  
									  .CMproductData .tProductDetail, #CMProductList .currentproductData .currentTProductDetail{ padding:5px 0;text-align:left;}
									  .CMproductData .list_items, #CMProductList .currentProductData .list_items { overflow:hidden;}
									  .CMproductData .list_items .ProductImageContainer,.CMproductData .list_items .ProductImageContainer .ProductSmallImage,
									  #CMProductList .currentproductData .list_items .ProductImageContainer .ProductSmallImage, #CMProductList .currentproductData .list_items .ProductImageContainer{height:100px; width:140px;float:left;overflow:hidden; }
									  .CMproductData .list_items .productAtrribute,  #CMProductList .currentproductData .list_items .productAtrribute{ width:75%;float:right;}

			#menuContent #CMProductList .relatedBox a {padding-left:20px;text-decoration:underline;}     
						 #CMProductList .CMproductData,#CMProductList .currentproductData {width:100%; padding:10px 0;overflow:hidden; text-align:left;border-bottom:1px solid #ccc;}  
						 #CMProductList .currentproductData .topBorder{padding:10px 0 30px;margin-top:10px;border-top:dashed 1px #ccc;}  
						 #CMProductList .currentproductData .topBorder .pTitle{padding-bottom:5px;}  
						  .currentMenuBody td.condimentBox{padding:10px 50px 0 0;vertical-align:top;}
														   .currentMenuBody td.condimentBox label{line-height:20px;}
														   .currentMenuBody td.condimentBox input[type=radio]{display:block;float:left;margin:3px .75em 1em 0;}
														   .currentMenuBody td.condimentBox input[type=checkbox]{display:block;float:left;margin:3px .75em 2em 0;position:relative;}
														   .currentMenuBody input.buttonLarge{border:0; height:32px;width:80px;text-align:center; margin-left: 35px;    margin-top: 20px;}
.CMproductAtrribute {    float: right;    width: 75%;}
.CMproductAtrribute .productQuantity {      clear: left;    float: left;    margin-top: 8px;    padding-left: 3px;    width: 80px;}
.CMproductAtrribute .productDescription {    clear: both;    float: left; margin-top: 8px;    padding-left: 3px;}
.CMproductAtrribute .productTitle { text-decoration:none;font-size:14px; float: left;    padding-left: 3px;}
.CMproductAtrribute .addtoCart .toggleShow,  .CMproductAtrribute .addtoCart .Add, .CMproductAtrribute .addtoCart .toggleHide {    float: right;margin-top: 8px; border:0; height:32px; width:80px;text-align:center;}
.CMproductAtrribute .productPrice { font-weight:bold;font-size:15px;    left: 575px;    position: absolute;}
.CMproductAtrribute .addtoCart .toggleHide{ background:none; border:none;color:#0000ff;padding:0;}
.CMproductAtrribute .productDescription, .productWrapper .Head   .productConfiguratorTitle{ overflow:hidden; padding-top:5px;  min-height:15px;width:75%;margin-left:0;}
.CMproductAtrribute .productPrice span {margin:0;}
						

/*Pizza Configurator Overrides*/
#csq-size-select div, .csq-crustsize div {display:inline;}
/*#Body .ui-widget {font-size:12px;text-align:left;}
#Body .ui-corner-all {border:none;border-radius:0;}*/
#pizza-builder-title-bar-box h1 {font-weight:normal;font-size:20px;}
/*.separator {border-top:dashed 1px #999;margin:15px 0;}*/
.pizza-separator {border-top:dashed 1px #999;margin:15px 0;clear: left;}
.pb-sub-panel {margin-bottom:15px;}
.pb-sub-panel table {width:100%;}
.pb-sub-panel table th {background-color:#fff;text-align:center;   padding: 5px 20px 5px 20px;}
.pb-sub-panel table tr:nth-child(even) { background-color:#dddcd2; }
.pb-sub-panel table tr:nth-child(odd) { background-color:#f1eedb; }
.pb-sub-panel table td { padding:2px 0;vertical-align:middle;text-align:center;}
.pb-sub-panel table .pb-radio-label { width:200px;padding-left:20px;text-align:left;}
.pb-sub-panel table td.pb-empty { width:125px;}
.btn-pizza-addContainer{text-align:right;}
#pizza-builder-main input.btn-pizza-start {background-color: transparent; border:0; padding: 7px 0 40px;color:#0a25fb;text-decoration:underline;float:left;}
#pizza-builder-main input.btn-pizza-add {background-color: #0a25fb; border:0; padding:7px 25px 10px;min-width:110px;float:right;}
/* #Body .ui-dialog-titlebar-close {position:absolute;top:20px;right:15px;width:32px;height:32px;z-index:100;}
#Body .ui-dialog-titlebar-close span{background: #0a25fb center center no-repeat url("images/bkgdCloseBox.png");width:32px;height:32px;}
#Body #ui-dialog-title-menuBody350 {height:0;} */
.closeButton {    background: url("images/bkgdCloseBox.png") no-repeat scroll center center #0A25FB;  display: block;    height: 32px;    left: 520px;    margin-right: 500px;    position: absolute;    top: 2px;    width: 32px;    cursor:pointer;z-index:999; }
.ui-dialog-titlebar-close { display:none;}
#pb-options-group { border:none; }
.pb-main-left { text-align:left; }
#pizza-builder-main .csq-quantity,
#pizza-builder-main .pb-sub-panel-specialties,
#pizza-builder-main .pb-sub-panel-byo,
#pizza-builder-main .ui-tabs-nav {display:none;}
#pizza-type {padding:0;}			
#pizza-builder-title-bar-box {    float: left;}
						
					

/* Pick Up Date Pick Up Time */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.StoreDetailOrderDateTime #OrderDateTime #pickupdatetime {clear: both;text-align: left;margin: 10px 0;width: 230px;border: 1px solid transparent;}
#lblLaterDate { margin-left: 3px; }
#lblLaterTime { margin-lefT: 3px; }

}

/* Apply Coupon */
#EditModebtnApplyVoucherOrder {    margin-bottom: 5px;}
.itemEditLinks {    width: 150px;}
:root #EditModebtnApplyVoucherOrder { padding:0px \0/IE9; }  /* IE9 */

/* Image Module Space */
element.style {    width: 100%;}


/* BasketModule */
#BacktoOrder {    padding-top: 4px; }
/*.RightPane {    margin-top: 30px; }*/
.OrderDateTimeTitle {    display: none;}
#SelectLocation { font-size:24px; color:#666666; }

/* Tri-level configurator changes */

.toggleTriLevelShow {    display: block;    padding-bottom: 5px;    padding-top: 5px;}
.TriLevelContinueShow {    display: block;    left: 80%;    position: relative;    top: 2px;}
.TriLevelContinueHide {    display: none;}
.toggleContainerCondimentHide {    display: none;}
.toggleContainerCondimentShow {    display: block;}
.toggleTriLevelHide {    display: none;    padding-bottom: 5px;    padding-top: 5px;}
.toggleCondimentShow {    display: block;    padding-bottom: 5px;    padding-top: 5px;}
.toggleCondimentHide {    display: none;    margin: 20px;}
/*input.buttonLarge.TriLevelContinueShow,input.buttonLarge.TriLevelContinueHide {display:none;}*/
.buttonLarge.TriLevelContinueHide {    margin-top: 30px;}
.OrderButton {    margin-top: 30px;}
.EditModetblBasket #EditModetxtVoucher{  width: 90px; margin-left:20px;float:left;float:left\0;width:70px\0/!important;margin-left:20px\0\!important; }
.RightPane #basketContainer #EditModebtnApplyVoucherOrder { float:right\0;}




/*GroupOrder Link*/
#basketContainer .editor-label{overflow:hidden;width:100%;text-align:center;padding:10px; margin-bottom:10px;}
#basketContainer #EditModeRedirectToGroupOrderEventPage{background:#0000FF;color:#fff;padding:10px;}


/* GroupOrder--Event BEGIN*/
#EventCreate,#EventReview , #Events{  margin-left:80px; padding:10px;width:700px;}
#EventTitle, #GuestsOrderInfoTitle, #PaymentWithCardEventCreate #PaymentWithCard #BillingInfoTitle,
                #PaymentWithCardEventCreate #PaymentWithCard #BillingInfoTitle, #PaymentWithCardEventReview #PaymentWithCard #BillingInfoTitle
                {   clear: both;  margin:10px 0;font-weight:bold; text-align:left;}
#PaymentWithCardEventCreate{clear: both;overflow:hidden;}
#PaymentWithCardEventCreate #PaymentWithCard{clear:both;}
#PaymentWithCardEventCreate #BillingAddress {clear:both;}


#CreateEventTime{float:left;}
#CreateEventTime #OrderDateTime{ margin:0px;}

#EventCreate .editor-row, #AddNewGuest .editor-row, #EventReview .editor-row, #Events .editor-row{margin-top:5px;clear:both; min-height:20px;overflow:hidden;}
#EventCreate .editor-label,#AddNewGuest .editor-label,#EventReview .editor-label, #Events .editor-label {float:left;width:170px;text-align:left;}
#EventCreate .editor-field,#AddNewGuest .editor-field,#EventReview .editor-field, #Events .editor-field  {float:left;width:170px;text-align:left;}
#EventCreate .OrderDate-editor-field{width:220px;float:left;}

#EventCreate .editor-field select, #PaymentWithCardEventReview .editor-field select  { width:auto;}
#EventCreate .editor-field #Note {float:left;}
#EventCreate .editor-commands, #AddNewGuest .editor-commands, #EventReview .editor-commands {float:right;width:120px;margin:10px;}

.NewGuests{     clear: both;    color: #FFFFFF;	padding-left: 20px;}
#GuestList {padding-left:15px;width:550px;}
#GuestsOrderInfo #GuestList {clear: both;padding:0;width:100%;}
#GuestInfoList span {padding-right:15px;}
#CreateNoGuest{text-align:left;}
#ReviewNoGuest{text-align:left;}

#EventButtons { clear:both; height:50px;}
#EventButtons .editor-commands {float:left;width:120px;margin:10px; }
#EventButtons .editor-commands input,#CreateNewGuest .editor-commands input{ border:0; height:30px;width:115px; float:left;}


#Events #Header{ clear: both;	width:750px;	height: 20px;font-weight:bold;}
#eventPayment{float:left;width:170px;text-align:left;margin-bottom:10px;}

#GuestsOrderStatus .editor-row{padding:5 5;clear:both;}
#GuestsOrderStatus .editor-label{float:left;width:140px;}
#GuestsOrderStatus .editor-field {float:left;width:140px;}

#EventDetails #OrderDateTime{margin:0;}
#EventDetails #pickupdatetime #StoreOrderTime{margin:0;width:100px;padding-left:15px;margin-left:10px;}
#EventDetails #pickupdatetime #StoreOrderDate{margin:0;width:100px;}
#EventDetails #pickUpDate{margin:0;width:50%;text-align:left; float:left;}host
#EventDetails #pickUpTime{margin:0;width:50%;text-align:left; float:left;}

#EventDetails tr td {}
#EventDetails td {width: 100px;}

#GuestOrderStatusTableHeader{   clear: both;	width:100%;}
#GuestsOrderStatus tr td {}
#GuestsOrderStatus td {width: 100px;padding-right:15px;text-align:left;}
#GuestsOrderStatus th {text-align:left;}



#basketContainer #EditModesubbasketContainer .editor-label{width:120px;float:left;text-align:left;clear:both;margin:0px;}
#basketContainer #EditModesubbasketContainer .editor-field{width:130px;float:left;text-align:left;padding:10px;}

#EditModebasketContent{clear:both;}

.InviteeBasketView #subbasketContainer{ margin-left:0px;}


#ui-dialog-title-AddNewGuest{color:#000;padding:20px 0 0 20px;font-size:18px;font-weight:normal;}

#btnConfirmationPopupOk { margin-top: 10px;    width: 100px;    }
#btnConfirmationPopupCancel {    margin-top: 10px;    width: 100px;}
/*.basketContent .BacktoOrderLink { display:none;}*/
.EditModebasketContent .EditModeCheckOutLink {    clear: right;    float: right;    margin-right: 240px;    margin-top: 10px;}

/*StoreLocator Delivery CSS*/
#HorizontalDeliveryOptionContent .deliver-row{clear:both;min-width:398px;}
#HorizontalDeliveryOptionContent  .editor-row{width:inherit;}
#HorizontalDeliveryOptionContent .deliver-row label{float:left;padding-top:7px; margin-top:10px; margin-left:5px;min-width:5px; }
#HorizontalDeliveryOptionContent .deliver-row input{float:left;margin-top:10px; margin-right:5px;}

#HorizontalDeliveryOptionContent #HorizontalDeliveryBuildingNo,
#HorizontalDeliveryOptionContent #HorizontalDeliveryApartmentNo, 
#HorizontalDeliveryOptionContent #HorizontalDeliveryZipCode
/*,#HorizontalDeliveryOptionContent #HorizontalDeliveryState*/
{width:70px;}
#HorizontalDeliveryOptionContent .deliver-row #HorizontalDeliveryStreetName{ width:225px;margin-right:5px;}


#HorizontalDeliveryOptionContent .deliver-row  input.error{border:1px solid #990000;}
#HorizontalDeliveryOptionContent .deliver-row  label.error{float:left;}

#HorizontalDeliveryOptionContent .deliver-row .editor-commands{float:left;margin-left:15px;}
#HorizontalDeliveryOptionContent .deliver-row .editor-commands input{border: 0 none; min-width: 110px; width: 100px;}

#HorizontalDeliveryOptionContentloader #HorizontalOrderCollection{width:80px;float:left;}
#HorizontalDeliveryOptionContentloader{padding-bottom:10px;}
.ModMyCentralGroupOrderC #EventCreate #EventDetails .editor-commands #btnAddGuest {    position: relative;    right: 420px;}
.ModMyCentralGroupOrderC #EventCreate #EventDetails .guest-list { background-color:#FFFFFF;padding:10px;font-weight:bold; margin-top: 13px; }
#CreateNewEvent #btnReview {    margin-left: 160px;}

/* Special Instruction Extra Styling */
.SpecialInstructionFieldDrilldown {    bottom: 40px;    left: 280px;    position: relative;}
.max {    bottom: 17px;  bottom:14px \0/;   left: 460px;    position: relative;}
.special-instructions-back {    background-color: white; padding-left: 10px;    padding-top: 10px;    width: 1000px;  }
.special2 {    margin-top: 20px;}
.hash {    bottom: 7px;    left: 70px;    position: relative;}
.splInstructionsBasket1,.splInstructionsBasket2 { font-style:italic;}
 .CartBottom {     background: url("Images/cartBottom.png") repeat-x scroll 0 0 transparent;    border: 0 none;    clear: both;    height: 12px;    width: 300px;}
 
 /* IE 8*/
 .productWrapper .productConfiguratorContent .special-instructions { top/*\**/: 24px\9 }
 .productWrapper .productConfiguratorContent .special-instructions {position/*\**/:relative\9 }
 .CMproductData .btn-close {position/*\**/:relative\9 }
 .CMproductData .btn-close {top/*\**/: 12px\9 }
 .CMproductData .btn-close {margin-left/*\**/: 20px;}
 
 
 /* Catering */
 

.CateringOrderInformation {    height: 90px;    margin-left: 450px;    width: 400px; }
#CateringOrderInformation .editor-label {    clear: both;    float: left;    padding-bottom: 10px;font-weight: bold;}
#CateringOrderInformation .editor-field {    clear: right;    float: right; }
#divCancelReason .editor-label {    float: left; margin-left: 450px;font-weight:bold;}
#divCancelReason .editor-field {float:right;}
#MyCentralCateringOrderProcessForm .editor-commands .btnSmall {  margin-left: 450px;    margin-top: 40px;}
.ModMyCentralCateringOrderProcessC .CateringOrderProcessMessage {     margin-left: 400px;    margin-top: 20px;    text-align: left;    width: 500px;    word-wrap: break-word;}
.catering-order-confirmation {     margin-left: 170px;}
#CateringOrderProcessMessage .separator2 {  margin-left: 50px; }
#MyCentralCateringOrderProcessForm .editor-commands { clear:both;}

.addToOrderStyle
{
	border: 0 none;
    float: right;
    height: 32px;
    margin: 36px 0 0 4px;
    text-align: center;
    width: 80px;
}

.configureButtonDivRightAlign
{
	clear:both; 
	text-align:right;
}