select {}
select option {}

#store hr{width:540px;} /*IE7 does not support width in percent */

/* Container Configurator / Product Configurator */
.CMproductAtrribute .configurationComboNoMargin { position:absolute;}
.CMproductAtrribute .addtoCart .Add { margin-top:55px;}
.CMproductAtrribute .addtoCart .toggleShow { margin-top:30px;}

/* Container Configurator / Product Configurator */
.CMproductAtrribute .configurationComboNoMargin { position:absolute;}
.CMproductAtrribute .addtoCart .Add { margin-top:55px;}
.CMproductAtrribute .addtoCart .toggleShow { margin-top:30px;}

/* Basket */
.EditModetblBasket #EditModetxtVoucher { float:left;}
.RightPane #basketContainer #EditModebtnApplyVoucherOrder { float:right;}


/* Menu Container */
.menucontainercontainer .menuheading { position:absolute; bottom:280px;}

/* Special Instructions */
.productWrapper .productConfiguratorContent .special-instructions { top:17px;position:relative;}
.SpecialIns .placeHolderLength { position:relative;bottom:24px;}
.productWrapper .productConfiguratorContent span.specialAddImage,.productWrapper .productConfiguratorContent span.specialRemoveImage { display: inline-block;} 
.productWrapper .productConfiguratorContent .special-instructions {position:relative; }
.max{ left: 410px; } 
.SpecialInstructionFieldDrilldown { left: 240px; }
.productConfiguratorContent .productSubContent .productConfiguratorRemove {position:relative;bottom:13px;}
.productWrapper .productConfiguratorContent .special-instructions1 {      position: relative;  width: 100%; }
.special-inst-remove {   margin-bottom: 75px;    position: relative;    right: 180px;}

#Login-Description #loginDescription { position:relative; top:4px;width:340px;}